{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Metodos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main2.min.css' %}">
    <script src="{% static 'js2/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js2/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js2/bootstrap/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js2/tools.js' %}"></script>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row card w-25 mx-auto mt-5">
            <div class="col-12">
                <div class="row w-100 mx-auto mt-3">
                    <p class="text-center">Seleccione una Imagen</p>
                    {{ form.image }}
                 </div>
            </div>
                <img id="image_preview" class="logo-preview img-fluid w-75 mx-auto my-3" src="{% static 'images/user-default.jpg' %}"/>
            <div class="col-12">
                <div class="row w-50 mx-auto mb-3">
                    <button class="btn btn-primary" type="submit">Match</button>
                </div>
            </div>
        </div>
    </form>
    {% if messages %}
        <div id="toast_container" class="float-toast-container z-index-9999">
            {% for message in messages %}
                <div class="float-toast d-flex align-items-center alert-dismissible alert {% if message.tags == "success" %} alert-success {% else %} alert-danger {% endif %} alert" role="alert">
                    {% autoescape off %}
                        {{ message }}
                    {% endautoescape %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
<script>
    var readURL = function (input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    };
</script>
</html>
